<!DOCTYPE html>
<html>
  <head>
    <title>LiberCareer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar_menu' %>
    <div class="container-fluid">
      <div class="row">
        <% if admin_signed_in? %>
          <%= render 'admin/sidebar' %>
        <% end %>
        <div class="col-12 col-md-<%= admin_signed_in? ? '9 col-xl-8' : '12 col-xl-12' %> py-md-3 pl-md-5 bd-content">
          <%= render partial: 'layouts/flash_messages', locals: {flash: flash} %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
